@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

ul[class],
ol[class],
ul[id],
ol[id] {
	padding: 0;
	margin: 0;
	list-style: none;
}

body,
h1,
h2,
h3,
h4,
p ul[class],
ol[class],
tu li,
figure,
figcaption,
blockquote,
dl,
dd {
	font-weight: normal;
	margin: 0;
	padding: 0;
	min-height: 0vw;
}

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
	border: none;
	margin: 0;
	padding: 0;
}

:focus {
	outline: none;
}

@media (prefers-reduced-motion: reduce) {
	* {
		-webkit-animation-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
html {
	--x: 0px;
	--y: 0px;
	--std-duration: 0.35s;
	--transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	/* --transition: linear; */
	--clr-awake: #e64444;
	--clr-lit: #1d1d1d;
	--clr-unlit: #080808;
	--clr-darkness: #020202;
	--clr-angelic: #fcf5bc;
	block-size: 100%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	min-block-size: 100%;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-family: "Barlow", sans-serif;
	line-height: 1.5;
	background: black;
	position: relative;
}
body::after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	inset: 0;
	height: calc(100vh + 40vh);
	background: black url("/v2/i/starry-sky.jpg") no-repeat bottom center/cover;
	opacity: 0.3;
	transition: opacity var(--std-duration) var(--transition),
		transform var(--std-duration) var(--transition);
}
body.no-stars::after {
    display: none;
}

body.video-playing #Rubble {
	pointer-events: none;
}
body.video-playing #Video-Container {
	opacity: 1;
	visibility: visible;
}
body.video-playing #Video-Container #Video {
	transform: scale(1);
	opacity: 1;
}

#Masthead {
	width: 100%;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
	transition: all var(--std-duration) 0.125s var(--transition);
}
#Masthead a {
	text-align: Center;
}
@media (max-width: 480px) {
	#Masthead {
		margin-bottom: 40px;
	}
}

#Hero {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
}

#Social {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: 12px;
	position: absolute;
	top: 24px;
	left: 16px;
	/*right: 16px;*/
	transition: opacity var(--std-duration) 3.5s var(--transition);
}
#Social a {
	width: 24px;
	z-index: 20;
	transition: all var(--std-duration) var(--transition);
}
#Social a .logo-art {
	fill: white;
	transition: fill var(--std-duration) var(--transition);
}
#Social a:hover .logo-art {
	fill: var(--clr-angelic);
}
#Logo--Top {
	width: min(200px, 100%);
	transition: all 1.5s 2.5s var(--transition);
	pointer-events: auto !important;
}
#Logo--Top .wordmark {
	fill: var(--clr-awake);
}
#Logo--Top .tagline {
	fill: white;
}

.logo {
	padding: 24px;
	pointer-events: none;
	position: relative;
	z-index: 11;
	transition: all var(--std-duration) var(--transition);
}
.logo .wordmark,
.logo .tagline {
	transition: all var(--std-duration) var(--transition);
	fill: var(--clr-darkness);
}
.logo.lit .wordmark {
	fill: var(--clr-awake);
}
.logo.lit .tagline {
	fill: #fff;
}

#Pyramid--Holder {
	z-index: 10;
	margin: -40px 0 64px;
	transition: all var(--std-duration) 1s var(--transition);
	position: relative;
}
#Pyramid--Holder::before,
#Pyramid--Holder::after {
	content: "";
	width: 640px;
	aspect-ratio: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	filter: blur(40px);
	border-radius: 50%;
	z-index: -1;
	opacity: 0.075;
	transition: all var(--std-duration) 0.125s var(--transition);
	pointer-events: none;
}
#Pyramid--Holder::before {
	background: radial-gradient(
		circle,
		white 0%,
		rgba(255, 255, 255, 0.25) 40%,
		rgba(255, 255, 255, 0) 75%
	);
}
#Pyramid--Holder::after {
	opacity: 0.1;
	background: radial-gradient(
		circle,
		#ff4c4c 0%,
		rgba(255, 76, 76, 0.25) 40%,
		rgba(255, 76, 76, 0) 75%
	);
}

#Pyramid {
	-webkit-clip-path: polygon(50% 0, 100% 90%, 50% 100%, 0 90%);
	clip-path: polygon(50% 0, 100% 90%, 50% 100%, 0 90%);
	width: 520px;
	min-width: 520px;
	display: block;
	transition: all var(--std-duration) 1s var(--transition);
}
/*#Pyramid:hover #Pyramid--Bottom {*/
/*	fill: var(--clr-awake);*/
/*}*/
#Pyramid * {
	transition: fill 0.25s var(--transition);
}
#Pyramid--Right,
#Pyramid--Left {
	fill: var(--clr-unlit);
	transition: fill 1s 0.0125s var(--transition);
}
#Pyramid--Right.lit,
#Pyramid--Left.lit {
	fill: var(--clr-lit);
}
#Pyramid--Bottom {
	fill: var(--clr-awake);
}

#Current-Phase {
	overflow: hidden;
	z-index: 11;
	width: 100%;
	position: absolute;
	margin-top: 116px;
	height: 200px;
}
#Current-Phase.with-door {
	margin-top: 420px !important;
}

#Current-Phase--Label {
	width: 339px;
	min-width: 339px;
	position: relative;
	transition: all 1s 1s var(--transition);
}

#Next-Phase {
	text-align: center;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0 auto;
	padding: 80px 24px 0;
	margin-bottom: 80px;
}
#Next-Phase header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 80px;
}
#Next-Phase header a {
    color: var(--clr-angelic);
    text-decoration: none;
    font-weight: 500;
    	transition: all var(--std-duration) var(--transition);

}
#Next-Phase header a:hover {
    color: var(--clr-awake);
}

#Next-Phase .wire {
    margin: 16px auto 24px;
}
#Next-Phase--Graphic {
	    width: min(440px, 98%);
    position: relative;
    margin-bottom: 8px;
}
#Next-Phase ul {
    flex: 1 1 max-content;
}
#Next-Phase li {
	font-size: 24px;
	line-height: 1;
	font-weight: 300;
	transition: all var(--std-duration) var(--transition);
	opacity: 0.8;
	position: relative;
}
#Next-Phase li:hover {
	opacity: 1;
}
#Next-Phase li + li {
	margin-top: 32px;
}

#Phase-Lists {
    --phase-gap: 32px;
	display: flex;
	gap: var(--phase-gap);
	flex-wrap: wrap;
}
#Phase-lists > * {
    flex: 1 1 calc(25% - var(--phase-gap));
}
.phase li span {
	display: block;
	opacity: 0.5;
	font-size: 15px;
	margin-top: 4px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 640px) {
    
    #Phase-Lists {
    --phase-gap: 24px;
    
    }
    
    #Next-Phase li {
        font-size: 16px;
    }
    #Next-Phase li + li {
	margin-top: 24px;
}
}

#Pronouncement--Pyramid {
	margin-top: 20vw;
	filter: grayscale(1);
	/*pointer-events: none;*/
	transition: all 2s var(--transition);
}
#Pronouncement--Pyramid:hover {
	filter: grayscale(0);
}
#Pronouncement--Pyramid .pyramid {
	width: 100%;
	margin: 0 auto;
}
#Pronouncement--Pyramid .pyramid img {
	transform: scale(1.75) translateY(-40px);
}

#Pronouncement {
    z-index: 7;    
}

#Pronouncement, #Gate-Main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#Pronouncement--Graphic {
	width: min(280px, 100%);
	margin-bottom: 16px;
	position: relative;
}
#Pronouncement .container, #Gate-Main .container {
	width: min(640px, 100%);
	margin: -40px auto 120px;
	z-index: 11;
	position: relative;
	transform-style: preserve-3d;
	transition: all var(--std-duration) var(--transition);
}
#Pronouncement .container .content, #Gate-Main .container .content {
	position: relative;
	background: rgba(0, 0, 0, 0.7);
	padding: 64px;
	color: white;
	text-align: center;
	z-index: 11;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	border: 2px solid var(--clr-unlit);
	transition: all var(--std-duration) var(--transition);
}
@media (max-width: 480px) {
	#Pronouncement .container .content, #Gate-Main .container .content {
		padding: 40px;
	}
}
#Pronouncement .container::after, #Gate-Main .container::after {
	content: "";
	width: calc(100% + 6px);
	max-height: 50%;
	opacity: 0.075;
	background: #fcf5bc;
	background: linear-gradient(
		180deg,
		#fcf5bc 0%,
		rgba(252, 245, 188, 0.5) 35%,
		rgba(252, 245, 188, 0.1) 80%
	);
	position: absolute;
	inset: -3px;
	transform: translateZ(-1px);
	transition: all var(--std-duration) var(--transition);
}
#Pronouncement .container:hover, #Gate-Main .container:hover  {
	background: black;
}
#Pronouncement .container:hover .secret {
	filter: blur(0);
}
#Pronouncement .container:hover::after, #Gate-Main .container:hover::after {
	opacity: 0.5;
	max-height: calc(100% + 6px);
}
#Pronouncement .container p {
	font-size: 20px;
	line-height: 40px;
	font-weight: 100;
	margin: 0;
}
#Pronouncement .container p .secret {
	filter: blur(3px);
	transition: all var(--std-duration) var(--transition);
	pointer-events: none;
}
#Pronouncement .container p a {
	text-decoration: none;
}
#Pronouncement .container p + p {
	margin-top: 1.25em;
}

#Pyramid-Invasion {
	position: absolute;
	inset: 0;
	z-index: 10;
	pointer-events: none;
}
#Pyramid-Invasion .pyramid {
	position: absolute;
	flex: 1 1 100%;
	z-index: 9;
	opacity: 0.125;
	transition: all var(--std-duration) var(--transition);
}
#Pyramid-Invasion .pyramid:nth-of-type(1) {
	width: 920px;
	top: 124px;
	left: -100%;
	-webkit-animation-delay: 0.5s !important;
	animation-delay: 0.5s !important;
}
#Pyramid-Invasion .pyramid:nth-of-type(2) {
	width: 800px;
	top: 640px;
	right: -75%;
	-webkit-animation-delay: 2s !important;
	animation-delay: 2s !important;
}

.swiper-container {
	position: absolute;
	inset: 0;
	width: 100%;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	max-width: calc(100% / 5) !important;
	min-width: calc(100% / 5) !important;
	margin: 0 auto !important;
	overflow: visible !important;
}

.swiper-wrapper {
	transform-style: preserve-3d;
}

.swiper-slide {
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	min-width: 96px;
	-webkit-animation-name: floating;
	animation-name: floating;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: var(--transition);
	animation-timing-function: var(--transition);
}
.swiper-slide img {
	border: 2px solid var(--clr-lit);
	background: rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	padding: 4px;
	width: 96px;
	aspect-ratio: 1;
	opacity: 0.5;
	margin: 80px auto;
	display: block;
	filter: grayscale(1);
	transform-origin: center center;
	transition: all var(--std-duration) var(--transition);
}
.swiper-slide span {
	display: none;
	text-align: center;
	width: 100%;
	margin: 200px auto 0;
	color: white;
	font-family: pentacle;
	font-size: 48px;
	line-height: 0.65;
	text-align: center;
	opacity: 0;
	filter: blur(12px);
	transition: all 1s 0.125s var(--transition);
}
.swiper-slide-active {
	opacity: 1;
	-webkit-animation: none;
	animation: none;
}
.swiper-slide-active img {
	filter: grayscale(0);
	opacity: 1;
	transform: scale(1.25);
}
.swiper-slide-active span {
	opacity: 1;
	color: var(--clr-awake);
	filter: blur(0);
	transition: all 1s 2s var(--transition);
}

.swiper-notification {
	display: none;
}

#Main-Content {
	position: relative;
	z-index: 20;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 1.5s 2.5s var(--transition);
}
#Footer {
	position: absolute;
	bottom: 40px;
	z-index: 100;
	text-align: right;
	right: 40px;
	font-size: 15px;
}
#Footer p {
    margin-bottom: 0;
}
.footer-links {
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 12px;
}
@media (max-width: 640px) {
	#Footer {
		color: rgba(255, 255, 255, 0.35);
		text-align: center;
		width: 100%;
		/*bottom: 160px;*/
		left: 0;
		right: 0;
	}
}

#Video-Rubble {
	overflow: hidden;
	width: 100%;
	height: 1000px;
}

/* #Rubble {
	width: 1080px;
	position: relative;
	height: 100%;
	z-index: 8;
	-webkit-clip-path: polygon(0 29%, 0% 110%, 120% 100%);
	clip-path: polygon(0 29%, 0% 110%, 120% 100%);
	overflow: hidden;
	background: transparent url("i/rub.png") no-repeat bottom left/100%;
}
@media (max-width: 480px) {
	#Rubble {
		width: 800px;
	}
}
#Rubble::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	z-index: 16;
	opacity: 0;
	background: transparent url("i/rub-hover.png") no-repeat bottom
		left/100%;
	transition: opacity 0.35s var(--transition);
}
#Rubble:hover {
	cursor: help;
}
#Rubble:hover::after {
	opacity: 1;
} */

#Video-Container {
	width: 100%;
	height: 100vh;
	z-index: 200;
	position: fixed;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s 0.25s var(--transition);
}
#Video-Container:hover {
	cursor: initial;
}
#Video-Container #Video {
	width: 100%;
	max-width: 1080px;
	opacity: 0;
	transform: scale(0.5);
	transition: all 0.35s var(--transition);
}
#Video-Container #Close-Video {
	width: 32px;
	aspect-ratio: 1;
	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 999;
	border-radius: 50%;
	background: none;
}
#Video-Container #Close-Video::before,
#Video-Container #Close-Video::after {
	content: "";
	width: 12px;
	height: 2px;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
}
#Video-Container #Close-Video::before {
	transform: translate(-50%, -50%) rotate(45deg);
}
#Video-Container #Close-Video::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}
#Video-Container #Close-Video:hover {
	cursor: pointer;
}

#The-First {
	width: min(640px, 98%);
	margin: 160px auto 0;
}

.strong {
	font-weight: 500 !important;
}

.angelic {
	color: var(--clr-angelic);
}

.floating {
	-webkit-animation-name: floating;
	animation-name: floating;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: var(--transition);
	animation-timing-function: var(--transition);
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.animating {
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

@-webkit-keyframes floating {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-16px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes floating {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-16px);
	}
	100% {
		transform: translateY(0px);
	}
}
.floating-big {
	-webkit-animation-name: floating-big;
	animation-name: floating-big;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: var(--transition);
	animation-timing-function: var(--transition);
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.animating {
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

@-webkit-keyframes floating-big {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes floating-big {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}

#Nothing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0;
	margin-bottom: 48px;
	width: 100vw;
}

#Nothing #Induction-Begins {
	width: min(480px, 100%);
	position: relative;
	display: block;
	pointer-events: none;
}

#Mintery {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: min(640px, 100%);
	z-index: 999;
	padding-top: 24px;
}
#Mintery .btn-group {
	margin-top: 0;
	flex-direction: column;
	gap: 8px;
}
#Mintery h2 {
	line-height: 1.2;
	color: white;
	font-size: 22px;
	letter-spacing: 1.5px;
	font-weight: 500;
	text-transform: uppercase;
}
#Mintery .container {
	width: min(640px, 100%);
	margin: 0 auto;
	z-index: 11;
	position: relative;
	transform-style: preserve-3d;
	transition: all var(--std-duration) var(--transition);
}
#Mintery .container .content {
	position: relative;
	background: rgba(0, 0, 0, 0.9);
	padding: 40px;
	color: white;
	text-align: center;
	z-index: 11;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	border: 2px solid var(--clr-unlit);
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	justify-content: center;
	transition: all var(--std-duration) var(--transition);
}
@media (max-width: 480px) {
	#Mintery .container .content {
		padding: 40px 24px;
	}
}
#Mintery .container::after {
	content: "";
	width: calc(100% + 6px);
	max-height: 50%;
	opacity: 0.75;
	background: #ff4cbc;
	background: linear-gradient(
		180deg,
		#ff4c4c 0%,
		rgba(255, 76, 76, 0.5) 35%,
		rgba(255, 76, 76, 0.1) 80%
	);
	position: absolute;
	inset: -3px;
	transform: translateZ(-1px);
	transition: all var(--std-duration) var(--transition);
}
#Mintery .container:hover{
	background: black;
}
#Mintery .container:hover::after {
	opacity: 1;
	max-height: calc(100% + 6px);
	background: linear-gradient(
		180deg,
		#ff4c4c 0%,
		rgba(255, 76, 76, 0.5) 35%,
		rgba(255, 76, 76, 0.1) 80%
	);
}

.nothing-btn {
	padding: 6px;
	background: none;
	outline: none;
	text-decoration: none;
	color: white;
	border: 2px solid #ff4c4c;
	transition: all 0.25s linear;
}
.nothing-btn .btn-icon {
	width: 16px;
}
.nothing-btn a {
	text-decoration: none;
	color: white;
}
.nothing-btn span {
	height: 100%;
	padding: 16px 40px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	text-align: center;
	line-height: 1;
	font-weight: 500;
	letter-spacing: 6px;
	border: 2px solid var(--clr-lit);
	position: relative;
	z-index: 2;
	overflow: hidden;
	transition: inherit;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.nothing-btn span::before {
	content: "";
	background: transparent url("/v2/i/eye-solo.png") no-repeat top center/104px;
	width: 104px;
	min-height: 96px;
	position: absolute;
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.075;
	z-index: 1;
	transition: inherit;
}
.nothing-btn.dead {
	border-color: var(--clr-lit);
	pointer-events: none;
}
.nothing-btn.dead span {
	background: #7e7e7e;
	color: rgba(0, 0, 0, 0.25);
	border-color: #7e7e7e;
}
.nothing-btn.wire {
	color: white;
	padding: 4px;
	border-width: 1px;
	border-color: var(--clr-angelic);
	transition: all var(--std-duration) var(--transition);
}
.nothing-btn.wire span {
	border-width: 1px;
	background: none;
	padding: 8px;
	font-size: 12px;
	letter-spacing: 2px;
	transition: all var(--std-duration) var(--transition);
}
.nothing-btn.wire span::before {
	display: none;
}
.nothing-btn.wire:hover span {
	background: transparent;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	color: var(--clr-angelic);
	border-color: white;
}
.nothing-btn:hover {
	cursor: pointer;
	border-color: var(--clr-lit);
}
.nothing-btn:hover .btn-icon .logo-art {
	fill: var(--clr-angelic);
}
.nothing-btn:hover span {
	background: #ff4c4c;
	border-color: #ff4c4c;
}
.nothing-btn:hover span::before {
	opacity: 0;
	transform: translateX(-50%) scale(1.5);
}
.toggle {
	position: relative;
	width: 100%;
	height: 80px;
	cursor: pointer;
	border: 2px solid var(--clr-lit);
	transition: all var(--std-duration) var(--transition);
}
.toggle input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}
.slider::before {
	position: absolute;
	content: "";
	height: calc(100% - 12px);
	width: calc(50% - 12px);
	top: 6px;
	left: 6px;
	bottom: 6px;
	border-radius: 4px;
	background-color: var(--clr-awake);
	transition: all var(--std-duration) var(--transition);
}

#Quantity-Labels {
	width: 100%;
	height: 80px;
	position: absolute;
	pointer-events: none;
	inset: 0;
	z-index: 10;
	display: flex;
}
#Quantity-Labels .one,
#Quantity-Labels .two {
	width: 50%;
	flex: 1 1 50%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	gap: 8px;
	transition: opacity var(--std-duration) var(--transition);
}
#Quantity-Labels .one img,
#Quantity-Labels .two img {
	width: 36px;
	margin-top: -24px;
}
#Quantity-Labels .one {
	opacity: 0.75;
}
#Quantity-Labels .two {
	opacity: 0.25;
}

input:checked + .slider::before {
	left: calc(50% + 6px);
}
input:checked + .slider #Quantity-Labels .one {
	opacity: 0.25;
}
input:checked + .slider #Quantity-Labels .two {
	opacity: 0.75;
}

.no-scroll {
	overflow: hidden !important;
}

#Quantity-Labels .price {
	position: absolute;
	bottom: 14px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 14px;
	font-weight: 500;
}

#Mintery .footnote {
	    margin: 0 auto;
    line-height: 1.8;
    font-size: 12px;
    opacity: .5;
    width: min(400px, 100%);
    color: white;
    background: rgb(252 245 188 / .025);
}

#Collection-Info {
	font-size: 18px;
	line-height: 1.8;
	font-weight: 300;
	color: white;
	margin: 40px auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#Collection-Info .container {
	width: min(640px, 100%);
	margin: 0 auto;
	z-index: 11;
	position: relative;
	transform-style: preserve-3d;
	transition: all var(--std-duration) var(--transition);
}
#Collection-Info .container .content {
	position: relative;
	background: rgba(0, 0, 0, 0.7);
	padding: 64px;
	gap: 12px !important;
	color: white;
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	text-align: center;
	z-index: 11;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	border: 2px solid var(--clr-unlit);
	transition: all var(--std-duration) var(--transition);
}

/*#Collection-Info .wire {*/
/*	margin-top: 24px;*/
/*}*/

#Collection-Info .btn-group {
    margin-top: 24px!important;
    gap: 16px;
}

#Collection-Info .content::after {
	content: "";
	width: 100%;
	height: 100%;
	inset: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.055;
	inset: 0;
	background: transparent url("https://illuminatinft.com/v2/i/Twitter_01.jpeg")
		no-repeat center center / cover;
}
@media (max-width: 480px) {
	#Collection-Info .container .content {
		padding: 40px;
	}
}
#Collection-Info .container::after {
	content: "";
	width: calc(100% + 6px);
	max-height: 50%;
	opacity: 0.075;
	background: #fcf5bc;
	background: linear-gradient(
		180deg,
		#fcf5bc 0%,
		rgba(252, 245, 188, 0.5) 35%,
		rgba(252, 245, 188, 0.1) 80%
	);
	position: absolute;
	inset: -3px;
	transform: translateZ(-1px);
	transition: all var(--std-duration) var(--transition);
}
#Collection-Info .container:hover {
	background: black;
}
#Collection-Info .container:hover .secret {
	filter: blur(0);
}
#Collection-Info .container:hover::after {
	opacity: 0.5;
	max-height: calc(100% + 6px);
}

/*#Collection-Info .text-link {*/
/*    display: block;*/
/*    font-size: 16px;*/
/*    margin-top: 24px;*/
/*}*/
#Collection-Info .text-link:hover {
	color: var(--clr-angelic) !important;
}

#Collection-Info .footnote {
	/*margin-top: 4px;*/
	/*max-width: 380px;*/
}

#DAO-Info {
	margin: 0 auto;
    line-height: 1.8;
    font-size: 14px;
    color: white;
}

#Mintery .form-stack {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

body.simple {
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

#Terms {
	margin: 40px auto;
	color: white;
	font-size: 15px;
	line-height: 1.8;
	background: black;
	padding: 64px;
	width: min(800px, 100%);
}
#Terms header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 80px;
}
.text-link {
	color: white;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: initial;
	text-transform: none;
	transition: all var(--std-duration) var(--transition);
}
.text-link:hover {
	color: var(--clr-awake);
}
#Terms p + p {
	margin-top: 24px;
}

#Terms h2,
#Terms h3 {
	line-height: 1.2;
	color: white;
	letter-spacing: 1.5px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 40px auto 24px 0;
}
#Terms h2 {
	font-size: 18px;
}
#Terms h3 {
	font-size: 15px;
}
#Terms-Logo {
	width: min(200px, 100%);
	padding: 0;
}
#Terms-Logo .wordmark {
	fill: var(--clr-awake);
}
#Terms-Logo .tagline {
	fill: white;
}

#Blinky {
width: 21px;
aspect-ratio: 1;
clip-path: circle(50% at 50% 50%);
position: absolute;
top: 1px;
left: 50%;
transform: translateX(-50%);
pointer-events: auto;
cursor: pointer;
transition: all 2s 0.125s var(--transition);
z-index: 888;
}
#Blinky.poked {
	opacity: 0;
	cursor: help;
}
.secret.revealed {
	color: var(--clr-awake);
	cursor: pointer !important;
	pointer-events: auto !important;
}

#Flashy {
	position: fixed;
	z-index: 999;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: black;
	pointer-events: none;
	overflow: hidden;
	opacity: 0;
}
#Flashy img {
	width: 200%;
}
#Flashy.active {
	opacity: 1;
	background: white;
}
.flashing {
	-webkit-animation-name: flashing;
	animation-name: flashing;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-animation-iteration-count: 2;
	animation-iteration-count: 2;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
@-webkit-keyframes flashing {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes flashing {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#tobuy {
	width: 80px;
	height: 64px;
	text-align: center;
	background: black;
	color: white;
	border: 2px solid white;
	padding: 6px;
	font-weight: 800;
	font-size: 20px;
}
#tobuy:focus,
#tobuy:active,
#tobuy:hover {
	border-color: var(--clr-awake);
}
.New {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: min(640px, 50%);
}

.footernew {
	margin: 4px auto 0;
	max-width: 380px;
	line-height: 1.5;
	font-size: 12px;
	color: rgb(255 255 255 / 0.5);
}
#Notice {
	width: 100%;
	min-height: 48px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
	padding: 12px 24px 16px;
	z-index: 888;
	font-size: 16px;
	line-height: 1.25;
	border: 2px solid var(--clr-awake);
}
#Notice p {
	text-align: center;
	color: white;
}
#Notice p a {
	color: white;
	font-weight: 600;
	text-decoration: underline;
}
#Notice p a:hover {
	color: var(--clr-awake);
	text-decoration: none;
}



/*radios*/

.radio-input {
	visibility: hidden;
}
.radio-label {
	position: relative;
	height: 64px;
	display: flex;
	margin-top: -24px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.radio-label .price {
	color: white;
	opacity: 0.5;
	font-size: 14px;
	margin-top: 2px;
}
.radio-label:after {
	content: "";
	display: block;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	position: absolute;
	inset: 4px;
	border-radius: 4px;
	transition: all var(--std-duration) var(--transition);
	z-index: -1;
}

.radio-input:checked + .radio-label:after {
	background-color: #ff4c4c;
}

#Radios {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8;
	border-radius: 4px;
	border: 2px solid var(--clr-lit);
	transition: all var(--std-duration) var(--transition);
}
#Radios:hover {
	border-color: var(--clr-awake);
}

#Radios li {
	flex: 1 1 80px;
}

.price-pyramids {
	opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.radio-input:checked + label .price-pyramids,
.radio-input:checked + label .price {
	opacity: 1;
}
.totals {
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	/*border: 1px solid rgb(255 255 255 / .125);*/
	/*padding: 8px;*/
	color: rgb(255 255 255 / 0.5);
}
.totals span {
	color: white;
}

.no-pseudo::before,
.no-pseudo::after {
	display: none;
	visibility: hidden;
}
.no-pseudo {
	margin-bottom: 0 !important;
}

.announcement-label {
	letter-spacing: 4px;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	width: min(480px, 100%);
	height: 46px;
	color: white;
	border-top: 2px solid var(--clr-awake);
	border-bottom: 2px solid var(--clr-awake);
	margin: 24px auto 40px;
}

#Gate {
    	gap: 40px;
	padding: 80px 40px;
	width: 100%;
	height: 100vh;
	background: black;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	inset: 0;
	overflow-y: scroll;
	z-index: 999999999;
	transition: all var(--std-duration) var(--transition);
}

#Gate .text-link {
    display: inline;
    color: var(--clr-angelic);
}

#Gate .text-link:hover {
     color: var(--clr-awake);
}

#Gate-Main .container {
    	margin: 0 auto!important;
}

#Gate-Main .container .content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
	gap: 32px !important;
	margin: 0 auto!important;
}



#Gate-Main {
	border: none !important;
	width: min(800px, 100%) !important;
	margin-top: auto !important;
}
#Gate-Main .btn-group {
	margin-top: 0 !important;
}
#Gate-Main .container {
	width: 100% !important;
}

#Gate.passed {
	opacity: 0;
	transform: translateY(-100%);
}
#Gate header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
}
#Gatekeeper {
	width: min(240px, 100%);
}
#Congrats {
	width: min(400px, 98%);
}
#Gate main {
	border: 2px solid var(--clr-awake);
	padding: 0;
	width: min(800px, 100%);
}
#Gate main p {
	color: white;
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	margin: 0 auto;
	width: min(640px, 100%);
}
#Gate footer {
	text-align: center;
	margin-top: auto;
}
#Phase2-Projects-Label {
	width: min(240px, 100%);
	margin: 0 auto 24px;
}
#Phase3-Projects-Label {
	width: min(224px, 100%);
	margin: 0 auto 24px;
}
#Gate footer ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 12px;
	margin: 0 auto;
	padding: 0;
	    width: min(1200px, 100%);
}
#Gate footer li {
	flex: 1 1 48px;
	max-width: 48px;
border: 1px solid var(--clr-lit);
border-radius: 50%;
display: flex;
padding: 4px;
}
#Gate li img {
	border-radius: 50%;
	width: 100%;
	aspect-ratio: 1;
}
.btn-group {
	display: flex;
	gap: 24px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;
}

@media (max-width: 640px) {
    
	#Gate-Main .container .content {
	    padding: 32px!important;
	}
	#Gate {
		gap: 24px;
			padding: 40px 24px;
		justify-content: flex-start;
	}
	#Gate main p {
		font-size: 16px;
	}
}
#The-Ritual {
	--ritual-gap: 24px;
	--door-size: 48px;
	padding: 0 0 0 var(--ritual-gap);
	text-align: center;
	width: 100vw;
	z-index: 8;
	margin-bottom: max(10vw, 240px);
}
@media (max-width: 480px) {
	#The-Ritual {
		--ritual-gap: 16px;
	}
}

#Ritual-Label {
	width: min(240px, 100%);
	margin: 0 auto 80px;
	padding-top: 160px;
	padding-bottom: 40px;
}

.ritual-gap-graphic {
	width: var(--door-size);
}

#Ritual {
	display: flex;
	align-items: stretch;
	max-width: 100vw;
	gap: var(--ritual-gap);
	padding-bottom: var(--ritual-gap);
	overflow-x: scroll;
	overflow-y: hidden;
}
#Ritual::-webkit-scrollbar {
	background-color: transparent;
	width: 20px;
}
#Ritual::-webkit-scrollbar-thumb {
	background-color: var(--clr-awake);
	border-top: 7px solid black;
	border-bottom: 7px solid black;
}
#Ritual::-webkit-scrollbar-thumb:vertical {
	height: 20px !important;
	width: 20px;
}
#Ritual .card {
	background-color: black;
	color: white;
	min-width: 400px;
	border: 2px solid var(--clr-awake);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	padding: var(--ritual-gap);
	text-align: center;
	transition: all var(--std-duration) var(--transition);
}
#Ritual .card.concluded {
	opacity: 0.5;
	filter: grayscale(1);
}
#Ritual .card.door-day {
	border: none;
	padding: 0;
	min-width: var(--door-size);
}
@media (max-width: 480px) {
	#Ritual .card {
		min-width: calc(100vw - (var(--ritual-gap) * 4));
	}
}
#Ritual .card:last-of-type {
	margin-right: var(--ritual-gap);
}
#Ritual .card .card-label {
	height: 20px;
	margin-bottom: 16px;
}
#Ritual .card p {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 100;
}
#Ritual .card p.date {
	opacity: 0.5;
	font-size: 16px;
}
@media (max-width: 480px) {
	#Ritual .card p {
		font-size: 16px;
	}
}


#Door {
    margin-top: -24px;
}

#Door.doorTop {
	position: relative;
	width: 120px;
	z-index: 999;
	transform: translateY(20px);
}
#Door.doorLeft {
	position: fixed;
	width: 120px;
	bottom: 8px;
	left: 16px;
	margin-top: 0;
	z-index: 999;
	transform: translateY(20px);
}

.clock {
	/*color: white;*/
	/*font-size: 20px;*/
	/*letter-spacing: 1.5px;*/
	/*font-weight: 500;*/
	/*text-transform: uppercase;*/
}

#Full-Nav {
	position: absolute;
	top: 20px;
	right: 16px;
}

#Full-Nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

#Full-Nav li {
	color: white;
	font-size: 14px;
}

#Full-Nav li a,
#Full-Nav li a:visited,
#Full-Nav li a:active {
	color: white;
	text-decoration: none;
	transition: all var(--std-duration) var(--transition);
	font-weight: 500;
}
#Full-Nav li a:hover {
	color: var(--clr-angelic);
}

@media (max-width: 1120px) {
	#Full-Nav li.secondary {
		display: none;
	}
	/*#Social a {*/
	/*	width: 28px;*/
	/*}*/
	/*#Social {*/
	/*	top: 28px;*/
	/*}*/
}

#The-Ancients {
	--gap: 16px;
	width: min(1440px, 100vw);
	padding: 80px var(--gap);
	text-align: center;
}
#The-Ancients--Title {
	width: min(320px, 95%);
	margin: 0 auto 80px;
}
#The-Ancients--Grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--gap);
}
#The-Ancients--Grid .card {
	flex: 1 1 calc(100% / 3 - var(--gap));
	max-width: 420px;
	min-width: 360px;
	cursor: pointer;
	position: relative;
	transition: all var(--std-duration) var(--transition);
	opacity: 0;
}

#The-Ancients--Grid.observed .card {
	opacity: 1;
}

/*razzle dazzle*/
#The-Ancients--Grid .card:nth-of-type(1) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) 0.5s var(--transition);
}
#The-Ancients--Grid .card:nth-of-type(2) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) .75s var(--transition);
}
#The-Ancients--Grid .card:nth-of-type(3) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) 1s var(--transition);
}
#The-Ancients--Grid .card:nth-of-type(4) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) 1.25s var(--transition);
}
#The-Ancients--Grid .card:nth-of-type(5) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) 1.5s var(--transition);
}
#The-Ancients--Grid .card:nth-of-type(6) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) 1.75s var(--transition);
}
#The-Ancients--Grid .card:nth-of-type(7) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) 2s var(--transition);
}
#The-Ancients--Grid .card:nth-of-type(8) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) 2.25s var(--transition);
}
#The-Ancients--Grid .card:nth-of-type(9) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) 2.5s var(--transition);
}
#The-Ancients--Grid .card:nth-of-type(10) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) 2.75s var(--transition);
}
#The-Ancients--Grid .card:nth-of-type(11) {
	transition: transform var(--std-duration) var(--transition),
		opacity var(--std-duration) 3s var(--transition);
}

#The-Ancients--Grid .card:nth-of-type(1):hover {
	transform: rotate(-1deg) scale(1.025);
}
#The-Ancients--Grid .card:nth-of-type(2):hover {
	transform: rotate(0.5deg) scale(1.025);
}
#The-Ancients--Grid .card:nth-of-type(3):hover {
	transform: rotate(1.25deg) scale(1.025);
}
#The-Ancients--Grid .card:nth-of-type(4):hover {
	transform: rotate(-1deg) scale(1.025);
}
#The-Ancients--Grid .card:nth-of-type(5):hover {
	transform: rotate(-1.5deg) scale(1.025);
}
#The-Ancients--Grid .card:nth-of-type(6):hover {
	transform: rotate(-1deg) scale(1.025);
}
#The-Ancients--Grid .card:nth-of-type(7):hover {
	transform: rotate(1deg) scale(1.025);
}
#The-Ancients--Grid .card:nth-of-type(8):hover {
	transform: rotate(-1deg) scale(1.025);
}
#The-Ancients--Grid .card:nth-of-type(9):hover {
	transform: rotate(1deg) scale(1.025);
}
#The-Ancients--Grid .card:nth-of-type(10):hover {
	transform: rotate(-1.5deg) scale(1.025);
}
#The-Ancients--Grid .card:nth-of-type(11):hover {
	transform: rotate(.25deg) scale(1.025);
}
#The-Ancients--Grid .card:hover .card--pfp, #The-Ancients--Grid .card:hover .card--inner {
	border-color: rgba(255, 255, 255, 0.25);
}
/*#The-Ancients--Grid .card:hover .card--inner {*/
/*	border-color: var(--clr-angelic);*/
/*}*/

#The-Ancients--Grid .card:hover .card--pfp img {
	filter: grayscale(0);
}
#The-Ancients--Grid .card--inner {
	border: 2px solid var(--clr-awake);
	padding: 40px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 0;
	transition: all var(--std-duration) var(--transition);
}
#The-Ancients--Grid .card--inner::before {
	content: "";
	background: transparent
		url("https://assets.codepen.io/5456038/bio-card-hand.png") no-repeat bottom
		80px center/cover;
	position: absolute;
	inset: 0;
	z-index: -1;
	opacity: 0.05;
}
#The-Ancients--Grid .card--ornament {
	width: min(160px, 100%);
}
#The-Ancients--Grid .card--pfp {
	width: min(200px, 100%);
	aspect-ratio: 1;
	border-radius: 50%;
	border: 2px solid var(--clr-awake);
	margin: 64px auto;
	display: flex;
	align-items: center;
	overflow: hidden;
	transition: all var(--std-duration) var(--transition);
}
#The-Ancients--Grid .card--pfp img {
	padding: 8px;
	border-radius: inherit;
	transition: inherit;
	filter: grayscale(1);
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#The-Ancients--Grid .card--title {
	display: block;
	color: var(--clr-awake);
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 1.25;
	margin-top: auto;
	margin-bottom: 20px;
}
.front,
.back {
	background: #121212;
	padding: 16px;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: all var(--std-duration) var(--transition);
}

.back {
	position: absolute;
	inset: 0;
	background: black;
	border: 2px solid var(--clr-awake);
	transform: rotateY(-180deg);
	display: flex;
	padding: 24px;
	text-align: left;
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
	justify-content: flex-start;
}
.back .secret {
	position: absolute;
	bottom: 8px;
	right: 8px;
	width: 80px;
}
.back p {
	color: white;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.65;
}

.card.active .front {
	transform: rotateY(-180deg);
	opacity: 0;
}
.card.active .back {
	transform: rotateY(0deg);
}

.bio-back-name {
	font-weight: 600;
	color: var(--clr-awake);
}

.bio-twitter {
	width: 24px;
	margin-top: 24px;
}
.bio-twitter .logo-art {
	fill: white;
	transition: fill var(--std-duration) var(--transition);
}
.bio-twitter:hover .logo-art {
	fill: var(--clr-angelic);
}

.card.ke .back::after {
	content: "";
	background: transparent url("https://illuminatinft.com/v2/i/ornament-5.png")
		no-repeat top center / 320px;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	width: 100%;
	height: 32px;
	text-align: center;
	opacity: 0.125;
	transition: all var(--std-duration) var(--transition);
}

@media (max-width: 480px) {
	#The-Ancients {
		--gap: 12px;
	}
	#The-Ancients--Grid .card {
		max-width: 100%;
	}
	.back p {
		line-height: 1.35;
	}
}
::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: var(--clr-awake);
}

::selection {
	color: white;
	background: var(--clr-awake);
}

#Mintery .announcement-label {
	border-top: none;
	width: 100%;
	height: auto;
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 64px;
	border-color: var(--clr-lit) !important;
}

#Mintery #verification {
	margin-top: 40px;
}
#Mintery #verification span {
}

#Nothing #The-First {
	margin: 0 auto 40px;
}

#WL-Mint {
	width: min(200px, 100%);
	display: block;
	margin: 0 auto 12px;
}
#Committment {
	margin-bottom: 24px;
	width: min(480px, 100%);
}

#connect-metamask {
        margin: -62px auto 24px;
    background: black;
}

.connect-metamask img {
	margin-top: 2px;
}
#Link-to-Phase-List {
    margin-top: 8px;
    opacity: .5;
    font-weight: 400;
}
#Link-to-Phase-List:hover {
    opacity: 1;
}

h3 {
    color: white;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    width: min(720px, 100%);
}

#Dropped-Puzzle {
    padding: 40px 24px 0;
    display: flex;
    flex-direction: column;
    width: min(800px, 100%);
    align-items: center;
    gap: 64px;
}
#Dropped-Puzzle > * {
    
}
#Dropped-Puzzle header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
#Dropped-Puzzle header img {
    width: min(320px, 100%);
}
#Dropped-Puzzle header h3 {
    margin-bottom: 0;
}
#Dropped-Puzzle main {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
}
#Dropped-Puzzle main img {
    flex: 0 0 80px;
    transition: all var(--std-duration) var(--transition);
}
#Dropped-Puzzle main img:hover {
    transform: scale(1.1);
}

#Roadmap {
    overflow: hidden;
  background: black;
}
#Roadmap-Video {
  width: 177.77777778vh;
  min-width: 100%;
  height: 100%;
  min-height: 56.25vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#Why-Nav  {
    position: absolute;
    top: 0;
    padding: 0 24px;
    z-index: 8;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-80px);
    transition: all var(--std-duration) var(--transition);
}
#Why-Nav.down {
    transform: translateY(0);
}

#Minerva-Nav {
    position: absolute;
    top: 0;
    padding: 0 24px;
    z-index: 8;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Minerva #Masthead {
    margin-bottom: 0;
}

#Degrees {
  --ring-size: 480px;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

[id*=Ring] {
  position: absolute;
  width: var(--ring-size);
  aspect-ratio: 1;
  transform-origin: center;
  border-radius: 50%;
  display: flex;
  opacity: 0.5;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all var(--std-duration) var(--transition);
}
[id*=Ring] img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
[id*=Ring]:hover:not(#Ring--Center) {
  opacity: 0.75;
  transform: scale(1.01);
}
[id*=Ring].ready {
  opacity: 1;
}

#Ring--Center {
  -webkit-clip-path: circle(71px at 50% 50%);
          clip-path: circle(71px at 50% 50%);
  outline-offset: -173px;
  z-index: 4;
}
#Ring--Inner {
  -webkit-clip-path: circle(127px at 50% 50%);
          clip-path: circle(127px at 50% 50%);
  outline-offset: -117px;
  z-index: 3;
}
#Ring--Middle {
  -webkit-clip-path: circle(182px at 50% 50%);
          clip-path: circle(182px at 50% 50%);
  outline-offset: -62px;
  z-index: 2;
}
#Ring--Outer {
  -webkit-clip-path: circle(var(--ring-size) at 50% 50%);
          clip-path: circle(var(--ring-size) at 50% 50%);
  outline-offset: -4px;
  z-index: 1;
}

.control {
  position: absolute;
  width: 64px;
  aspect-ratio: 1;
  cursor: pointer;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--clr-awake);
  background: none;
}

.control img {
    width: 24px;
}


#Left {
  left: 0;
}

#Left img {
    transform: rotate(180deg);
}

#Right {
  right: 0;
}

#Submit {
  left: 24px;
  right: auto;
}

#Enter {
  display: none;
  left: 24px;
  right: auto;
  color: green;
}

#Labs-Link {
    color: var(--clr-awake);
}